@font-face {
  font-family: "NorseBold";
  src: url("/assets/Norse-Bold.otf") format("otf"),
    url("/assets/Norse-Bold.otf") format("woff2"),
    url("/assets/Norse-Bold.otf") format("woff"),
    url("/assets/Norse-Bold.otf") format("truetype"),
    url("/assets/Norse-Bold.otf") format("svg");
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/Montserrat-Regular.ttf") format("otf"),
    url("/assets/Montserrat-Regular.ttf") format("woff2"),
    url("/assets/Montserrat-Regular.ttf") format("woff"),
    url("/assets/Montserrat-Regular.ttf") format("truetype"),
    url("/assets/Montserrat-Regular.ttf") format("svg");
}

* {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  background-color: #00000075;
}

.wrapper {
  height: 100vh;
  width: 80%;
  display: flex;
  background-color: #ffffff;
}
.div-img {
  height: auto;
  width: 45%;
  background-image: url(assets/img.jpg);
  background-size: 100% 100%;
}

.div-img div {
  position: relative;
  top: 3rem;
  left: 0;
  color: #ffffff;
  background-color: #00000075;
  display: flex;
  align-items: center;
}

.div-img div p {
  font-size: 6rem;
  font-family: "NorseBold";
}

.logo {
  position: relative;
  width: 40%;
  height: 40%;
  padding: 1rem;
}

.div-form {
  height: 100%;
  width: 55%;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.header {
  height: 20%;
  padding: 1.5rem;
}

.header-p {
  margin-top: 5rem;
  font-weight: 600;
}

form {
  height: 15%;
  padding: 1.5rem;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 7px;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.first-name,
.last-name,
.email,
.phone,
.password,
.confirm-pass {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

form div {
  display: flex;
}

label {
  font-size: 0.55rem;
  font-family: "Montserrat";
  letter-spacing: 1.5px;
}

input {
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 3px;
  width: 80%;
}

.button {
  padding: 1.5rem;
}

button {
  width: 9rem;
  background-color: #596D48;
  padding: 0.5rem;
  color: #e5e7eb;
  font-size: 0.7rem;
  font-weight: 600;
  border-radius: 7px;
  border: none;
}

.button p {
  margin-top: 0.8rem;
  font-size: 0.9rem;
  font-family: sans-serif;
}

.button p a {
  color: #596D48;
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
}